.Rproj.user
.Rhistory
.RData
.Ruserdata

R/
qmd2/
qmd/job-resume.qmd
qmd/job-interview.qmd
qmd/job-consulting.qmd
qmd/logos.qmd
qmd/statistical-rethinking.qmd

scrapsheet_files/
scrapsheet-2WFE_files/
scrapsheet-conformal-pi_files/

/.quarto/
