





/* highlight effect around Examples */
.ribbon-highlight{
  position:relative;
  margin:0.1em;
  color: white;
  padding: 0 14px;
  margin: 0 15px
}
.ribbon-highlight:before{
  content:"";
  z-index:-1;
  left:-0.04em;
  top:0.1em;
  border-width:0.5em;
  border-style: solid;
  border-color: green;
  position:absolute;
  width:100%;
  border-left-color:transparent;
  border-right-color:transparent;
}


/* Book title */
.sidebar-title>a {
    color: #0064B6FF;
}

/* css selector for github icon */
#quarto-sidebar > div.pt-lg-2.mt-2.text-left.sidebar-header > div > div > a > i{
  color: #0064B6FF;
}












