
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');


/* Import font from local source */
@font-face {
  font-family: 'FiraCode-Retina';
  src: local('Fira Code Retina'), local('FiraCode-Retina'), url('fonts/FiraCode-Retina.ttf') format('truetype');
}


h1, .h1 {
 text-transform: uppercase !important;
 font-family: "Noto Sans", sans-serif;
 font-weight: 540;
 color: #1E4477 !important;
}


h2, .h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 540 !important;
    border-bottom: 2px solid #1E4477 !important;
    padding-bottom: .5rem;
    color: #1E4477 !important;
}


h3, .h3 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 530 !important;
    font-size: calc(1.25rem + 0.24vw);
    border-bottom: 2px solid #dee2e6;
    padding-bottom: .5rem;
    color: #365586FF !important;
}


h4, h5, .h4, .h5 {
  font-family: "Noto Sans", sans-serif;
  color: #365586FF !important;
  border-bottom: 2px solid #dee2e6;
  padding-bottom: .1rem;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
}

/* highlight effect around Examples */
.ribbon-highlight{
  position:relative;
  margin:0.1em;
  color: white;
  padding: 0 14px; 
}
.ribbon-highlight:before{
  content:"";
  z-index:-1;
  left:-0.04em;
  top:0.25em;
  border-width:0.5em;
  border-style: solid;
  border-color: #44883C;
  position:absolute;
  width:100%;
  border-left-color:transparent;
  border-right-color:transparent;
}

/* styling for function argument names */
.arg-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 90%;
}
/* styling for data variable names */
.var-text {
  font-family: 'Merienda', cursive;
  font-size: 90%;
}

/* code folding html tag */
details > summary {
  color: #365586FF;
}

/* styling for inline code text */
code {
    display: inline-block;
    margin: 0 .4em !important;
    padding: 1px 6px !important;
    color: #365586FF;
    background: #FFFDF9FF !important;
    border: 1px solid #DDD;
    box-shadow: 1px 1px 0 #B2ADA3FF, 1px 1px 0 #ddd;
}

/* code tag affects inline AND block code, so I'm undoing the above style changes for block code */
pre code {
  background: #fff !important;
  border: none;
  box-shadow: none;
}

/* "note" callout; banner color is in scss file */
.callout-note {
  color: #1E4477;
  font-weight: 100 !important;
}

.callout-style-default {
  background-color: #FFFDF9FF;  
}


/* old color for title and icons: #0064B6FF */
/* Book title */
.sidebar-title>a {
    color: #1E4477;
}

/* css selector for github icon */
#quarto-sidebar > div.pt-lg-2.mt-2.text-left.sidebar-header > div > div > a > i{
  color: #1E4477;
}

/* document table of contents sidebar */
/* selected ("active") */
.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid #007BB7 !important;
    color: #007BB7 !important;
}
/* hover */
.sidebar nav[role=doc-toc] ul>li>a:hover, .sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color: #007BB7 !important;
}


/* --------------------------------MathJax LateX attributes ------------------------------------- */

/*
.math.inline .MathJax {
  font-size: 150%;
  color: #22b222;
}
*/

.math.display .MathJax {
  /*background-color: #FFFDFAFF !important*/
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #C9D6FF, #E2E2E2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #C9D6FF, #E2E2E2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #1E4477 !important;
  overflow: auto;
}

/* aligns latex equation block text to the left */
mjx-container[jax="CHTML"][display="true"] {
  text-align: left !important;
  width: -moz-max-content;
  width: -webkit-max-content; /* all 3 "widths" make the container the width of the text, just for different browsers */
  width: max-content;
  padding: 10px; /* adds space around the equations */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  border-radius: 10px; /* rounds edges of box; higher makes them more rounded */
}

/* styles code annotation */
/* outside code block */
dl.code-annotation-container-grid dt {
    color: #007BB7;
    border: solid #007BB7 1px;
}
/* inside code block */ 
code.sourceCode .code-annotation-anchor {
    font-family: "Fira Code Retina";
    color: #007BB7;
    border: solid #007BB7 1px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    font-size: 9px;
    margin-top: 2px;
}


/* outlier note; using equation id to specify a specific equation. There's some extra space on the left side that needs removed.
#eq-grubbstest > span > mjx-container > mjx-math > mjx-mtable {
  text-align: left;
}

/* for all equations using equation ids
mjx-container [width="full"] {
    width: 100%;
    text-align: left;
}
*/

/* ----------- Scrollbars -------------*/

/* page and code block scroll bars' color */
/* also narrows and rounds bar */
  
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /*background: #335f83; */
  background: #B1BEE7FF; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


/* --------- Panel Tabset ------------- */

.tab-content {
    background-color: #E3DED4FF;
    border-color: #E3DED4FF #B2ADA3FF #B2ADA3FF ;
    border-top-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    box-shadow: 0 0.3rem 0.6rem #9A958BFF;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #882815 ;
    font-weight: bold;
    background-color: #E3DED4FF ;
    border-color: #882815 #B2ADA3FF #E3DED4FF ;
    border-top: 3px solid #882815 ;
}

.nav-tabs .nav-link {
    color: #9B3B2DFF;
    background: none;
    border-top-left-radius: .30rem;
    border-top-right-radius: .30rem;
}
